<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>this is {{name}}</h1>
        <p>This website was created by Virender Kadian</p>
        <img class="portrait" src="/img/download.jpg">
        <p>created by{{title}}</p>
    </div>
    {{>footer}}
</body>

</html>