
<html>
<head>
    <title>ERR404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{message1}}</h1>
    <h1>{{message2}}</h1>
    <div class="main-content">
        {{>header}}
    </div>
    {{footer}}
</body>

</html>