<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <h1>for more {{message1}}</h1>
        <p>go to {{message2}}</p>
    </div>
    {{>footer}}
</body>

</html>